p {
    text-align: center;
    font-family: monospace;
    color: black;
    font-size: 24px;
}
a:hover{
    font-style: italic;
}
/*comment example*/

h1 {
    text-align: center;
    font-family: monospace;
    color: black;
    font-size: 32px;
}

ol {
    text-align: center;
    list-style-position: inside;
    align-content: center;
    align-items: center;
    font-family: monospace;
    color: black;
    font-size: 20px;
}

header {
    align-content: center;
    align-self: center;
    text-align: center;
}

section {
    margin: auto;
    text-align: center;
    background-position: cover;
    box-align: center;
    font-family: monospace;
    size: 5%;
    color: black;
    font-size: 24px;
    background-color: silver;
    width: 600px;
    height: 600px;
}
section:active{
    background-color: salmon;
}

#test_content {
    margin: auto;       /*auto margin centers block level elements */
    width:500px;
    color: red;
    background-color: green;
}

@viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}

li {
    list-style-image: url(https://d1ujqdpfgkvqfi.cloudfront.net/favicon-generator/htdocs/favicons/2015-01-24/36ad272d0407c6b26d6707fcbe435962.ico);
}

table {
    border-collapse: separate;
}

.testTable {
    border-collapse: separate;
    align-content: center;
}

table, th, td {
    padding: 15px;
    border-bottom: 1px solid black;
}

tr:hover {
    background-color: lightblue;
}

#table.overflow-auto {
    overflow: auto;
}

#table div{     /*id access using #, has highest precedence disregarding order*/
    width: 20px;
    height: 200px;
    background-position: fixed;
    background-position: right;
}
