<script>
  let weatherData = () => {
    let weatherIcon = document.querySelector("#weatherIcon");
    let weatherInfo = document.querySelector("#weatherInfo");
    let url = "https://community-open-weather-map.p.rapidapi.com/weather?lat=38.54&lon=-121.74&id=2172797&units=%22metric%22+or+%22imperial%22&mode=json&q=Davis%2CUSA";
    let params = {
        headers: {
            "X-RapidAPI-Host": "community-open-weather-map.p.rapidapi.com",
            "X-RapidAPI-Key": "0695836580msh59f7aa3e827ccd1p151d4ejsn50792a0af711"
        },
        method: "GET"
    }
    
    if (!window.name) {  //if window.name is empty, then call weather API
        console.log("Getting weather data");
        fetch(url, params)
            .then(response => {
                //return readable stream here
                return response.json();
            })
            .then(data => {
                //work with JSON data here
                //use window.name property to hold weather value as long as user uses same tab, avoid calling API for every page load
                console.log("Saving data to window.name");
                window.name= `${(data.weather[0].main)} and ${(data.main.temp - 273.15).toFixed(1)}°C ICON:${data.weather[0].icon}`;
                weatherInfo.innerHTML = `${(data.weather[0].main)} and ${(data.main.temp - 273.15).toFixed(1)}°C`;
                weatherIcon.src = "http://openweathermap.org/img/w/"+data.weather[0].icon+".png";
                console.log(data);
            })
            .catch(error => {
                //handle errors here
                console.log(error);
            })
    }
    else {
        //if already called API once, then reuse window.name value
        console.log("Reuse weather data");
        weatherInfo.innerHTML = window.name.substring(0,window.name.indexOf("ICON"));
                                                      //get weather icon
        console.log("Reuse weather icon");
        weatherIcon.src= "http://openweathermap.org/img/w/"+window.name.substring(window.name.indexOf(":")+1,window.name.length)+".png";
    }
}



let curday = function (sp) {
    let dateDisplay = document.querySelector("#dateDisplay");
    let today = new Date();
    let dd = today.getDate();
    let mm = today.getMonth() + 1; //As January is 0.
    let yyyy = today.getFullYear();
    if (dd < 10) dd = '0' + dd;
    if (mm < 10) mm = '0' + mm;
    dateDisplay.innerHTML = (mm + sp + dd + sp + yyyy);
};
//console.log(curday('-'));

let loadWeatherWidget = () => {
    curday('-');
    weatherData();
}

loadWeatherWidget();
  
//=====================================================================  dragging code below
let dragItem = document.querySelector("#weatherData");
let container = Window.window;

let active = false;
let currentX;
let currentY;
let initialX;
let initialY;
let xOffset = 0;
let yOffset = 0;

container.addEventListener("touchstart", dragStart, false);
container.addEventListener("touchend", dragEnd, false);
container.addEventListener("touchmove", drag, false);

container.addEventListener("mousedown", dragStart, false);
container.addEventListener("mouseup", dragEnd, false);
container.addEventListener("mousemove", drag, false);

function dragStart(e) {
    if (e.type === "touchstart") {
        initialX = e.touches[0].clientX - xOffset;
        initialY = e.touches[0].clientY - yOffset;
    } else {
        initialX = e.clientX - xOffset;
        initialY = e.clientY - yOffset;
    }

    if (e.target === dragItem) {
        active = true;
    }
}

function dragEnd(e) {
    initialX = currentX;
    initialY = currentY;

    active = false;
}

function drag(e) {
    if (active) {

        e.preventDefault();

        if (e.type === "touchmove") {
            currentX = e.touches[0].clientX - initialX;
            currentY = e.touches[0].clientY - initialY;
        } else {
            currentX = e.clientX - initialX;
            currentY = e.clientY - initialY;
        }

        xOffset = currentX;
        yOffset = currentY;

        setTranslate(currentX, currentY, dragItem);
    }
}

function setTranslate(xPos, yPos, el) {
    el.style.transform = "translate3d(" + xPos + "px, " + yPos + "px, 0)";
}
</script>
