<script>
let weatherData = document.querySelector("#weatherInfo");
unirest.get("https://community-open-weather-map.p.rapidapi.com/weather?lat=38.54&lon=-121.74&callback=JSONP&id=2172797&units=%22metric%22+or+%22imperial%22&mode=json&q=Davis%2CUSA")
.header("X-RapidAPI-Host", "community-open-weather-map.p.rapidapi.com")
.header("X-RapidAPI-Key", "0695836580msh59f7aa3e827ccd1p151d4ejsn50792a0af711")
.end(function (result) {
  console.log(result.status, result.headers, result.body);
  weatherData.innerHTML = result.body;
});
</script>
