body {
    margin: 60px auto;
    width: 65%;
    background-color: white;
}
nav ul, footer ul {
    font-family:'Ubuntu', 'Roboto', 'Sans-Serif';
    padding: 0px;
    color:black;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    font-size:2em;
    color: orange;
}
a:hover {
    text-decoration: underline;
    text-decoration: bold;
}
h1 {
    font-size: 3em;
    font-family:'HUbuntu', 'Roboto', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: black;
}
footer {
    border-top: 2px solid black;
    font-size: .9em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

#githubIcon,#emailIcon,a {
  padding: 1px;
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

#githubIcon:hover,#emailIcon:hover, a:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#faviconImage{
margin-right: 30px;
}

hr{
height:1px; 
border:none; 
color:#000; 
background-color:#000; 
width:60%; 
text-align:center; 
margin: 0 auto;
}
