<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <link rel='shortcut icon' type='image/x-icon' href="/assets/favicon.ico" />
    
    <!-- plug ins go here-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% include analytics.html%}
    {% include weather.html%}

</head>

<body onload="curday('-')">
    <nav>
        <ul>
            <img id="faviconImage" src="/assets/images/android-chrome-512x512.png" width="40px" title="Icon">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/cv">CV</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
        <hr class="hDivider">
    </nav>
    <div class="container">

        {{ content }}

    </div><!-- /.container -->
    <footer>
        <ul>
            <li><a href="mailto:ewang414@gmail.com"><img id="emailIcon" alt="Email" src="/assets/email.png"
                        title="Email"></a></li>
            <li><a href="https://github.com/wanganator414" target="_blank"> <img id="githubIcon" alt="GitHub Link"
                        src="/assets/GitHub-Mark-32px.png" width="15px" title="GitHub"></a></li>
            <li><a href="https://www.linkedin.com/in/eric-wang-341289157/" target="_blank"> <img id="linkedInIcon" alt="LinkedIn Link"
                        src="https://banner2.kisspng.com/20180406/jpq/kisspng-linkedin-logo-computer-icons-comcast-business-get-started-now-button-5ac6f544698595.9898331815229883564322.jpg" width="15px" title="LinkdIn"></a></li>
        </ul>
    </footer>
    <div id="weatherData"> <br> <p id="dateDisplay">date</p> <p id="weatherInfo"> TESTDATA </p> <p id="cityName> Davis, CA </p> <br> </div>
</body>

</html>
