<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel='shortcut icon' type='image/x-icon'
    href="/assets/favicon.ico" />
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:ewang414@gmail.com">email</a></li>
	        		<li><a href="https://github.com/wanganator414">github.com/wanganator414 src="<img src="https://www.google.com/url?sa=i&source=images&cd=&ved=&url=https%3A%2F%2Flogoeps.com%2Fgithub-cat-in-a-circle-icon-vector%2F65612%2F&psig=AOvVaw1k7IgI42HKi43TOucuQIox&ust=1562900748330042" title="GitHub">"</a></li>
				</ul>
			</footer>
		</body>
	</html>
